[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SkachkovDima
[access "refs/for/refs/*"]
	read = group user/SkachkovDima
	push = group user/SkachkovDima
	label-Code-Review = -2..+2 group user/SkachkovDima
	label-Verified = -1..+1 group user/SkachkovDima
	rebase = group user/SkachkovDima
	removeReviewer = group user/SkachkovDima
	submit = group user/SkachkovDima
[access "refs/heads/*"]
	read = group user/SkachkovDima
	create = group user/SkachkovDima
	push = +force group user/SkachkovDima
	pushMerge = group user/SkachkovDima
[access "refs/tags/*"]
	push = +force group user/SkachkovDima
	pushTag = group user/SkachkovDima
	pushSignedTag = group user/SkachkovDima
